<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProgramCRUD.Properties.Settings.DokumentyConnectionString"
            connectionString="Data Source=DESKTOP-2GEAQK0\SQLKASIA;Initial Catalog=Dokumenty;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>